---

---

<footer class="footer footer-center p-8 bg-primary text-white">
    <aside>
        <p class="font-bold text-xl">Team Teledetectados 🚀</p>
        <p class="text-base-200/80">
            Copyright © 2025 - Todos los derechos reservados. <br />
            Desarrollado para el International NASA Space Apps Challenge.
        </p>
    </aside>
</footer>
