---

---

<header class="sticky top-0 z-50">
    <div class="navbar bg-white shadow-md">
        <!-- Nombre del Equipo (Izquierda) -->
        <div class="navbar-start">
            <a
                href="#inicio"
                class="btn btn-ghost text-xl font-extrabold text-nasa-blue tracking-wider"
                >TEAM TELEDETECTADOS
            </a>
        </div>

        <!-- Menú Desktop (Centro/Derecha) -->
        <div class="navbar-end hidden lg:flex">
            <ul class="menu menu-horizontal p-0 text-lg font-medium">
                <li>
                    <a
                        href="#inicio"
                        class="hover:text-primary transition duration-300"
                        >Inicio</a
                    >
                </li>
                <li>
                    <a
                        href="#proyecto"
                        class="hover:text-primary transition duration-300"
                        >Proyecto</a
                    >
                </li>
                <li>
                    <a
                        href="#equipo"
                        class="hover:text-primary transition duration-300"
                        >Equipo</a
                    >
                </li>
            </ul>
        </div>

        <!-- Menú Móvil (Hamburguesa, Derecha) -->
        <div class="navbar-end lg:hidden">
            <div class="dropdown dropdown-end">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h7"></path></svg
                    >
                </label>
                <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
                >
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#proyecto">Proyecto</a></li>
                    <li><a href="#equipo">Equipo</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
